# Backups
*~
*.swp
*.bak

# Logs
*.log
*.pstats

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
*.egg-info/
*.egg

# IPython Notebook
.ipynb_checkpoints

# Unit test / coverage reports
.pytest_cache/
.coverage.*
.coverage
.cache/

# pyenv
.python-version

# dotenv
.env

# virtualenv
.venv/

# Eclipse / IDEA
.settings
.project
.pydevproject
.idea

# Nox
.nox

# Poetry
poetry.lock
